

<form action="/comment" method="POST">
<div>
<label for="">Comment</label>
<textarea name="comment" id="" cols="10" rows="5"></textarea>
</div>

<button type="submit" class="btn btn-primary"> Comment</button>

</form>



  