<div class="container-fluid  footerContainer" style="text-align:center; margin-top:9%;">
    <div class="container ">
        <ul class="footerIcons" style="padding-top:5%;">
            <li>
                <a href="https://www.instagram.com/?hl=en">
                    <img src="/images/instagramIconsvg.svg" alt="" class="instagram" style="width:30px; height:30px;">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/login">
                    <img src="/images/twitterIcon.svg" alt="" class="ml-4 twitter" style="width:30px; height:30px;">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/">
                    <img src="/images/facebookIcon.svg" alt="" class="ml-4 facebook" style="width:30px; height:30px;">
                </a>
            </li>

        </ul>


    </div>
    <p class="Copyright">© Classroom</p>
</div>
<script type="text/js" src="/socket.io/socket.io.js">

    

</script>

<script src="js/index.js"> 
    
    var socket = io();

</script>
    </body>
    
    </html>
