<%- include("partials/nav"); -%> <%- include("partials/DashComp"); -%>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <img src="images/.svg" alt="" />
    </div>
    <div class="col-lg-6">
      <div class="container">
        <div class="jumbotron jumbotron-fluid profile-box">
          <h4 class="loginHeading">Change Password</h4>
          <%- include("partials/messages"); -%>

          <form action="/changePassword" method="POST">
            <div class="form-group UserD-form" style="margin-left: 8%;">
              <label for="">New password:</label>
              <input type="password" name="newPassword" class="form-control" />
              <label for="">Confirm new password</label>
              <input type="password" name="RnewPassword" class="form-control" />
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              style="margin-left: 8%;"
            >
              Change Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer"); -%>
