<%- include("partials/nav"); -%>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="jumbotron jumbotron-fluid R-box">
                    <h3 style="margin-top:5%;" class="loginHeading">Contact us</h3>
                    <%- include("partials/messages"); -%>

                    <form action="/contact" class="form" method="POST">
                        <div class="form-group R-Form">
                            <label for="">Email</label>
                            <input class="form-control" type="email" name="Sender">
                            <label for="">Message</label>
                            <textarea name="message" id="" cols="30" rows="10" class="form-control"></textarea>
                           
                        <button  type="submit" class="btn btn-primary R-btn">Contact</button>
                    </form>

 
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>


