<%- include("partials/nav"); -%>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="jumbotron jumbotron-fluid R-box">
                    <h3 style="margin-top:5%;" class="loginHeading">Forget password</h3>
                    
                    
                    <%- include("partials/messages"); -%>

                    <form action="/forgetPassword" class="form" method="POST">
                        
                        <div class="form-group R-Form">
                            <label for="">Email</label>
                            <input type="email" name="Sender" class="form-control">

                             <button type="submit" class="btn btn-primary" >Forget Password</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>